@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
body{
  background-image: radial-gradient(circle at bottom center, rgb(197, 234, 55) 0%, rgb(197, 234, 55) 12%,rgb(170, 222, 63) 12%, rgb(170, 222, 63) 18%,rgb(144, 210, 72) 18%, rgb(144, 210, 72) 23%,rgb(117, 198, 80) 23%, rgb(117, 198, 80) 47%,rgb(90, 187, 88) 47%, rgb(90, 187, 88) 59%,rgb(63, 175, 96) 59%, rgb(63, 175, 96) 68%,rgb(37, 163, 105) 68%, rgb(37, 163, 105) 86%,rgb(10, 151, 113) 86%, rgb(10, 151, 113) 100%);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffff;
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family:'Rubik Moonrocks';
}




